body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: beige;
}
header{
    background-color: black;
    height: 60px;
    margin-bottom: 10px;
}
h1{
    line-height: 60px;
    text-align: center;
    margin: 0;
    color: white;
}
h2{
    text-align: center;
}
#listado{
    margin: 25px auto;
    width: 800px;
    text-align: center;
}
#lista{
    max-height: 475px;
    border: 2px solid black;
    border-radius: 10px;
    order: 0;
    overflow-y: auto;
    margin-bottom: 8px;
}
#listado img{
    width: 100px;
    height: 100px;
}
#listado ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#listado li {
    list-style: none;
    text-align: center;
    margin: 10px;
    padding: 10px;
    flex: 0 0 auto;
}
#listado button {
    display: block;
    margin: 0 auto;
}

#anadir, #modificar{
    display: none;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 470px; 
    overflow-y: auto;
}
form {
    text-align: left;
}

label {
    display: block;
    margin: 10px 0;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    box-sizing: border-box;
}

#anadir input[type="button"], #modificar input[type="button"] {
    background-color: #4caf50;
    color: white;
    border: none;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
#id{
    display: none;
}
#anadir input[type="button"]:hover, #modificar input[type="button"]:hover {
    background-color: #45a049;
}

footer {
    margin-top: 10px;
    background-color: black;
    height: 40px;
    width: 100%;
    bottom: 0;
    text-align: center;
    position: fixed;
    z-index: 2;
}
button, input[type="button"]{
    cursor: pointer;
}
button:disabled{
    cursor: default;
}
.atras{
    position: fixed;
    top: 75px;
    left: 10px;
    background-image: url('../img/flechaIzq.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75px 75px;
    width: 75px !important;
    height: 75px !important;
    border-radius: 50px !important;
}
input[type="button"]{
    margin-bottom: 10px;
    padding: 3px;
    width: 100px;
}
#B1, #B2{
    margin-top: 9px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
#B2{
    display: none;
}
#capaOculta{
    display: none;
    background-image: url(../img/fondoLake.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}



/* Estilos para la imagen y el nombre */
#listado img.descargado {
    border: 2px solid green;
}

#listado img.vivo {
    border: 2px solid red;
}

#listado p.posible-candidato {
    color: green;
}

#listado p.colaborador {
    color: orange;
}

#listado p.perpetrador {
    color: red;
}